/* LoadingSpinner.module.css */

.spinnerSvg {
  width: 300px;
  height: 300px;
  margin: 20px;
  display: inline-block;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Or any height you need */
  background-color: rgba(0, 0, 0, 0.5); /* Optional background */
}

.spinnerSvg {
  width: 200px;
  height: 200px;
  margin: 20px;
  display: inline-block;
}

