@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: rgba(227, 219, 219, 0.597); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.profile
{
  background-color: rgba(227, 219, 219, 0.597);
}
#skill
{
    background-color: rgba(227, 219, 219, 0.597);
}
  
.Header
{
  background:linear-gradient(#4bbcd5, #62bcbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  filter: drop-shadow(0px 0px 4px rgba(0, 208, 255, 0.737));
}