@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: rgba(227, 219, 219, 0.597); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.profile
{
  background-color: rgba(227, 219, 219, 0.597);
}
#skill
{
    background-color: rgba(227, 219, 219, 0.597);
}
  