@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img.shadow
  {
    background-size: cover !important;
    filter: drop-shadow(65px 60px 0px rgba(169, 40, 58, 0.56));
  }

  