img.profile
{
    /* filter: drop-shadow(-50px 5px 120px rgba(202, 46, 101, 0.507)); */
    border-radius: 20%;
    background: rgb(226,49,49);
    background: linear-gradient(90deg, rgba(226,49,49,0.4) 0%, rgba(226,51,190,0.3) 35%, rgba(0,212,255,0.3) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    outline: none; 
    box-shadow: -10px 5px 120px rgba(202, 46, 101, 0.507);
}

.Job
{
    background:linear-gradient(#4bbcd5, #62bcbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name
{
  font-size: clamp(1.5rem, 1.2613rem + 1.0323vw, 2.5rem);
}

.text-job
{
  font-size: clamp(1.875rem, 1.3677rem + 2.1935vw, 4rem);
}
.text-job2
{
  font-size: clamp(1.75rem, 1.4516rem + 1.2903vw, 3rem);
}

@media (max-width: 1024px) {
  .absolute.content
  {
    left: 50%;
    transform: translateX(-50%);
  }

  img.profile
  {
    left:25%;
  }
}

@media only screen and (max-width:767px)
{
  img.profile
  {
    left:0%;
  }
}